TOKEN_TIME_OUT=48
PORT=8000
ENCRYPTION_KEY=SeCuRe!/*.%,#3@+__EnCrYpTiOn_KeY
ENCRYPTION_ALGO=aes-256-cbc
WRITE_LOG=1
JWT_KEY=21288c0de13345169f134f14e8101062
JWT_GEN_KEY=lOcAlToKeN!2019@$&
DB_USER=mongo_user
DB_PASSWORD=
